
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutVendor.cshtml";
}

<h1>Vendor Home</h1>
<h6 class="text-success text-center">
	@TempData["SuccessMsg"]
	@TempData["ErrorMsg"]
</h6>
